@import "./__iframe/video__iframe.css";
@import "./__iframes/video__iframes.css";

.video {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top:100px;
}
