
.logo_place_header {
    background-image: url("../images/logo_place_header.svg");
    height: 32px;
    position: absolute;
    left: 64px;
    top: 30px;
    display:flex;
}
/*02.07.2020 .logo_place_header - исправлено после проверки 01.07.2020:
свойства логотипа для хедера регулируются этим классом.
ПРИМЕР: важный нюанс. В шапке высота логотипа 32пикс, в подвале - 35пикс*/
