@import "./__author/footer__author.css";
@import "./__column/footer__column.css";

@import "./__column-heading/footer__column-heading.css";
@import "./__column-link/footer__column-link.css";
@import "./__column-links/footer__column-links.css";

@import "./__columns/footer__columns.css";
@import "./__social-icon/footer__social-icon.css";

.footer {
    min-height:350px;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
}
