.khan__buy-link {
    margin-top: 0;
    line-height:42px;
    font-size:30px;
    font-weight:normal;
    color:#2f80ed;
    text-decoration:none;
    align-self: baseline;

    transition-property: opacity;
	transition-duration: 4s;
    transition-timing-function: linear;
}

.khan__buy-link:hover {
	opacity:40%;
}
